[
    {pw,
        [
            {offers_records_file_name, "/home/jrie/pw/Data/offers_records.dets"},
            {offers_state_file_name, "/home/jrie/pw/Data/offers_state.dets"},
            {orders_records_file_name, "/home/jrie/pw/Data/orders_records.dets"},
            {orders_state_file_name, "/home/jrie/pw/Data/orders_state.dets"}
        ]
    }
].
